click==6.6
eventlet==0.19.0
Flask==1.0.2
Flask-SocketIO==3.3.2
Flask-Sockets==0.2.1
gevent==1.1.1
gevent-websocket==0.9.5
greenlet==0.4.10
gunicorn==19.6.0
itsdangerous==0.24
Jinja2==2.7.3
MarkupSafe==0.23
oauthlib==1.1.2
python-engineio==3.0.0
python-socketio==3.1.2
requests==2.10.0
requests-oauthlib==0.6.1
six==1.9.0
tweepy==3.5.0
Werkzeug==0.10.4
wheel==0.26.0
pandas==0.23.0
nltk==3.3
scikit-image==0.13.1
scikit-learn==0.19.1
kafka-python==1.4.6